<% if flash[:notice].present? %>
  <div id="flash-notice" style="border: 1px solid red; color: red; padding: 10px;">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="access index">
	<h1>Menu</h1>
	<%= @username %><%= @language %>
	<ul>
		<li> <%= link_to "Manage Subjects", "#" %> </li>
		<li> <%= link_to "Manage Pages", "#" %> </li>
	</ul>
</div>
